target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.swp
*.swo

### Mac OS ###
.DS_Store

### Local app state / generated artifacts ###
information.txt
logger.txt
selectedCheckboxes.txt
AbacProfiles.txt
attributeCodeFilePath.txt
*_add_permissions_to_*.xml
/koh-log-viewer-db/
